{% extends 'blog/base.html' %}
{% block content %}
<p style="margin-top: 60px;">
<h2>1. What is your favorite country?</h2>
This question is impossible for me to answer. The term “favorite country” is way too vague. It’s almost like asking, “what’s your favorite food?”</p>

If you re-word the question more specifically, then my favorite country for food is Japan, for hospitality is Pakistan, for nightlife is Korea, and for the people is Myanmar.   I also love Iran, Lebanon, Afghanistan, Vietnam, The Philippines and the Czech Republic.

… But as much as I love exploring the world, The USA is always #1 in my book.

<h2>2. How can you afford to travel?</h2>
I get really annoyed when people assume that I am rich, or that my parents pay for everything.

I’m not rich, and I don’t take a penny from my parents.

I make (or have made) money in four ways: Teaching English, Making Videos, Travel Blogging, and Partnering with Brands.

I Taught English in Korea for 18 months, and made a lot of money there with great benefits like free housing. It was an incredible experience and I highly recommend teaching in Korea if you are a native English speaker!

These days, I am making enough money from travel videos (ads and sponsorships) to travel full-time, along with all the awesome benefits like free hotels, free transportation, etc.  These benefits enable me to travel longer and cheaper.

I also partner with and get sponsored by tourism boards and brands, who pay me in exchange for coverage on my blog and social media.

<h2>3. How can I teach English abroad?</h2>
I wrote this 7,000 word guide to teaching English in Korea, which will give you everything you need to know from start to finish. If are interested in teaching in other countries, then simply do a Google Search and you can find loads of information online.  I highly recommend teaching in Asia over Europe beacuse the overall experience will be much more diverse, and the pay is often higher.

Keep in mind that there are 3 general requirements for ALL teaching English jobs around the world:  These requirements are 1) having a degree from a 4 year University, 2) holding a passport from an English speaking country, and 3) obtaining your TEFL Certificate (Teach English as a Foreign Language).

4. What are best cities for nightlife?
Here are my Top 5 (in order):

Seoul, Prague, Barcelona, Stockholm and Bali.

<h2>5. What are the best cities for food?</h2>
Again, my top 5 in order are:

Singapore, Bangkok, Tokyo, Taipei and Seoul (yes, I am obsessed with Asian food) ^^

<h2>6. How Can I get started to travel long-term?</h2>
There are many ways that you can get started to travel, and none of them require you to be rich or have a huge savings account.

The biggest risk is quitting your job and buying a one-way plane ticket. I know it’s nerve racking, but I can promise you that so many new opportunities will come your way once you take the leap.

It’s not as hard as you think to find your first job overseas. Here are some suggestions:
– Teach English
– Work on a Cruise Ship
– Start a Blog
– Become a freelancer (writing, editing, movie making, modeling, consulting, etc.)
– Work at a Bar
– Work in a Hotel
– Work at a tour agency
– Organize private tours
– Search Google for jobs in your field

<h2>7. How do you find cheap flights?</h2>
I wrote an entire post on U.S. News Travel about finding cheap flights.  Read it here.

The first sites that I check for flights are Kayak and Google Flights  I am aware that these websites may not be the cheapest, but they do the best job of laying out all of the possible flights, and you can get a ballpark range for the price.

Once you see and pick out which airlines offer the cheapest prices, then go to that airlines specific website and try to book the flight on there. Many times, it is cheaper that way.  If not, then just book directly on Kayak.

**Another trick that sometimes works for overseas flights is Expedia.JP (JP stands for Japan).  It’s exactly the same as Expedia, but just for Japanese people.  Go on the site and just set the language to English and the currency to Dollars and search for flight normally. Sometimes the algorithm for Japanese search engines finds MUCH cheaper flights (I once saved $300 from Seoul to LA!)

<h2>8. Are you rich?</h2>
No.

I don’t spend my money on useless materialistic things and I make decent money from travel blogging. You can do it too if you try.

But I do work my butt off on my blog and through making videos. 18 hour days.</p>
{% endblock %}