{% extends 'blog/base.html' %}
{% block content %}
	<div class="container wrap mb-5" style="margin-top: 100px">
		<h2 class="text">Contact Us</h2>
		<form action="{% url 'contact' %}" method="POST">
			{% csrf_token %}
			<input type="text" placeholder="Enter Your Name" name="name">
			<input type="text" placeholder="Subject" name="subject">
			<input type="email" placeholder="Enter Your Email" name="email">
			<input type="message" placeholder="Write Your Message" name="message">
			<input type="submit" value="Send" name="Submit">
		</form>
	</div>
	{% if msg %}
      	<div class="alert alert-success">
        	{{ msg }}
      	</div>
    {% endif %}
{% endblock %}